 @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

 * {
     box-sizing: border-box;
 }

 body,
 h1,
 p {
     margin: 0;
     padding: 0;
 }

 body {
     font-family: 'Red Hat Display', sans-serif;
     display: grid;
     background-color: hsl(225, 100%, 94%);
     min-height: 100vh;
     justify-content: center;
     align-items: center;
     position: relative;
 }

 .background {
     position: absolute;
     z-index: -1;
     inset: 0 0 auto 0;
     object-fit: cover;
 }

 .container {
     text-align: center;
     margin-left: 1rem;
     margin-right: 1rem;
 }

 .hero {
     border-top-right-radius: 1.5rem;
     border-top-left-radius: 1.5rem;
     max-width: 100%;
     display: block;
 }

 .card-container {
     display: grid;
     border-bottom-right-radius: 1.5rem;
     border-bottom-left-radius: 1.5rem;
     padding-left: 1.5rem;
     padding-right: 1.5rem;
     background-color: white;
     max-width: 28.125rem;
 }

 .card-container h1 {
     font-size: 1.375rem;
     font-weight: 900;
     margin-top: 2rem;
     margin-bottom: 1rem;

 }

 .summary-p {
     font-size: 0.938rem;
     line-height: 1.563rem;
     color: #717FA6;
     padding-bottom: 12px;
 }

 .plan-container {
     display: flex;
     background-color: #F7F9FF;
     border-radius: 1rem;
     padding: 1rem;
     font-size: 14px;
     justify-content: space-around;
     align-items: center;
 }

 .plan {
     display: grid;
     font-weight: 700;
     font-size: 0.875rem;
     color: black;
 }



 .price {
     font-size: 0.875rem;
     color: #717FA6;

 }

 button {
     background-color: hsl(245, 75%, 52%);
     color: white;
     font-size: .938rem;
     width: 100%;
     padding-top: 1rem;
     padding-bottom: 1rem;
     font-weight: 700;
     margin-top: 24px;
     margin-bottom: 2rem;
     border-radius: 12px;
     box-shadow: 0 15px 15px 15px hsl(248, 48%, 91%);

 }

 .cancel-order {
     padding-bottom: 2rem;
     font-size: .938rem;
     color: #717FA6;
     text-decoration: none;
     font-weight: 900;
 }

 button:hover {
     background-color: hsl(245, 83%, 68%);
     cursor: pointer;
 }

 .change-order:hover {
     cursor: pointer;
     color: black;
 }

 a:hover {
     text-decoration: none;
     color: hsl(245, 83%, 68%);
 }